
body {
    background: rgb(16, 16, 24);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

img {
    margin: 5px;
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.main-wrapper {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.video-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.video-wrapper iframe, 
.video-wrapper embed {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    
    height: 100%;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
    grid-gap: 2em;
    text-align: center;
}

.grid-item {
}

.box-1 {
    width: 400;
    height: 400;
    margin: 20px left right;

    float: right;
}

.center {
    text-align: center;
}

.font-size-24px {
    font-size: 24px;
    font-weight: bold;
}








