
body {
    background: linear-gradient(to top left, rgb(16, 16, 24), rgb(32, 32, 40));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.main-wrapper {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 32px;
}

.grid-item {

}

.center {
    text-align: center;
}

.font-size-24px {
    font-size: 24px;
    font-weight: bold;
}
